// Place all the styles related to the incomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#Error_message{
	color: red;
	float: left;
	ol{
		margin-left: 20px;
	}
	ul{
		margin-left: 20px;
	}
} 
.input-box{
	color: blue;
}